<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <div>
        <h1>Categories</h1>
        <h2><a href="/categories/create">Create a new category</a></h2>
        <table>

            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Products inside category</th>
                <th>Options</th>
            </tr>
            <% categories.forEach(category => { %>
                <tr>
                    <td><%- category.category_id %></td>
                    <td><%- category.name %></td>
                    <td><%- category.description %></td>
                    <td><%- category.products_in_category %></td>
                    <td>
                        <a href="/categories/<%- category.category_id %>/edit">Edit</a>
                        <a href="/categories/<%- category.category_id %>/delete">Remove</a>
                    </td>
                </tr>
            <% }) %>

        </table>

    </div>
</body>
</html>