<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
</head>
<body>
    <h1>Customers</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email address</th>
            <th>Phone number</th>
            <th>Member since</th>
            <th>Options</th>
        </tr>
        <% customers.forEach(customer => { %>
            <tr>
                <td><%- customer.customer_id %></td>
                <td><%- customer.firstname %></td>
                <td><%- customer.lastname %></td>
                <td><%- customer.email_adress %></td>
                <td><%- customer.phone_number %></td>
                <td><%- customer.created_at.toDateString() %></td>
                <td>
                    <a href="/customers/<%- customer.customer_id %>/edit">Edit</a>
                    <a href="/customers/<%- customer.customer_id %>/delete">Remove</a>
                </td>
            </tr>
        <% }) %>

    </table>
</body>
</html>